<html>
    <head>
        <title>Root html</title>
        <link href="{{ url_for('static', path='/my_styles.css') }}" rel="stylesheet">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

    </head>
    <body>
        <h2>Absolute URLs</h2>
        <ul><li><a href="http://89.108.77.24:8080">89.108.77.24:8080</a></li></ul>
        <ul><li><a href="https://www.ya.ru/">Ya</a></li></ul>
        <ul><li><a href="https://t.me/gudymm">t.me</a></li></ul>

        <h2>Relative URLs</h2>
        <ul><li><a href="/main">Main</a></li></ul>
        <ul><li><a href="/items/5?q=15">/items/ + path and query params</a></li></ul>
        <ul><li><a href="/items/189">/items/ + path param</a></li></ul>

    </body>
</html>